* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0A192F;
    /* font-family: "Poppins", sans-serif;
    font-weight: 700; */
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 350px;
    background-color: #112240;
    padding: 20px;
    border-radius: 10px;
    gap: 50px;
    box-shadow: 0 0 20px 5px #112240;
}

h1 {
    margin-top: 50px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

input {
    height: 50px;
    border-radius: 5px;
    background-color: #1B2B48;
    outline: none;
    border: 2PX solid #0074E4;
    color: #E3E3E3;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.input {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.password-container {
    position: relative;
    display: inline-block;
}

.password-container input {
    width: 93%;
}

.eye-icon {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #1E90FF;
    /* height: 30px; */
    width: 40px;
    background-color: #1B2B48;
    /* background-color: white; */
}

.password-container i {
    font-size: 18px;
}

input::placeholder {
    color: #E3E3E3;
}

input:focus {
    border-color: #1E90FF;
    box-shadow: 0 0 10px 5px rgba(0, 116, 228, 0.3);
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    height: 40px;
    width: 100%;
    background-color: #1E90FF;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

p {
    margin-top: 10px;
    align-self: center;
    font-family: "Poppins", sans-serif;
    color: #E3E3E3;
}

p a {
    color: #0074E4;
}

p a:hover {
    /* text-decoration: underline; */
    color: #FF6B00;
}

button:hover {
    background-color: #0074E4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
