* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A192F;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    overflow: hidden auto;
}


/*Header*/

header {
    background-color: #0A192F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 60px;
    padding-bottom: 20px;
    position: sticky;
    top: 0px;
    z-index: 100;
    border: none;
}

input {
    display: none;
    position: relative;
    top: 2px;
    right: -70px;
    height: 25px;
    width: 220px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input::placeholder {
    color: black;
}

input:focus {
    cursor: text;
}

i:nth-child(2) {
    /* color: white; */
    position: relative;
    top: 2px;
    right: -10px;
    font-size: 16px;
}

i:nth-child(2):hover {
    color: #ff6a00d5;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #00FFFF;
}


nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    color: #0074E4;
}

nav ul li a {
    color: #0074E4;

}

li {
    transition: all 0.1s ease;
}

li:hover a {
    color: white;
}

li:hover {
    translate: 0 -1px;
    border-bottom: 2px solid #FF6B00;
}

i {
    position: relative;
    color: #FF6B00;

}


.user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 2px solid #FF6B00;
    border-radius: 50%;
    position: relative;
    right: -20px;
}

.user:hover {
    border-color: #ff6a00d5;
}



.user:hover i {
    color: #ff6a00d5;
}


.window {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    height: 335px;
    width: 180px;
    background-color: #112240;
    border: 2px solid #1E90FF;
    border-radius: 10px;
    position: relative;
    top: 80px;
    right: 29px;
    float: right;
    padding: 20px 0;
    z-index: 101;
    position: fixed;
}


.window::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 14px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #1E90FF transparent;
    /* position: fixed; */
}



a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FF6B00;
}

.sline {
    width: 90%;
    background-color: white;
    border: 1px solid white;
}

/*MAIN*/
h1 {
    /* position: relative;
    top: 100px; */
    /* margin-top: 100px; */
    color: white;
    font-size: 40px;
}

h3 {
    padding: 1px;
    border-bottom: 1px solid #9CA3AF;
}

p {
    color: #9CA3AF;
    /* text-align: center; */
    font-weight: 500;
}


.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    height: 100%;
    width: 98vw;
    /* background-color: #112240; */
    border-radius: 10px;
    padding: 10px;
    padding-top: 10px;
    margin-bottom: 50px;
}

.courses {
    /* background-color: #fff; */
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    margin-top: 200px;
    color: #9333EA;
}



.course:nth-child(odd) {
    align-self: flex-start;
}

.course:nth-child(even) {
    align-self: flex-end;
}

img {
    height: 200px;
    width: 200px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.textbox {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 70px;
    gap: 5px;
}

.mainbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    /* position: relative;
    top: 150px; */
    /* margin-top: 20px; */
    /* margin-left: 15px; */
    /* display: flex; */
    max-width: 700px;
    line-height: 1.7;
    word-wrap: break-word;
}

.codingimg {
    position: relative;
    top: 30px;
    right: 80px;
    height: 320px;
    width: 600px;
    border-radius: 10px;
}

.course {
    scale: 0.9;
    opacity: 0;
    display: flex;
    align-items: center;
    animation: op linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

.robot-3d{
    right: -600px;
    position: absolute;
}

@keyframes op {

    to {
        scale: 1;
        opacity: 1;
    }
}

.paragraph {
    margin-left: 70px;
    margin-right: 70px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course a {
    font-size: small;
    font-weight: 500;
    color: #FF6B00;
    transition: all 0.1s ease-in-out;
}

.course a:hover {
    text-decoration: underline;
    color: white;
    /* font-size: 1.01em; */
}

.courses img:hover {
    transform: scale(1.1);
}



.sep {
    background-color: #00FFFF;
    position: fixed;
    top: 90px;
    height: 2px;
    width: 100vw;
    scale: 0 1;
    z-index: 5000;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

/* FOOTER */

.footer {
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer h4 {
    color: #9CA3AF;

}

.footer ul li {
    color: #9CA3AF;
    list-style: none;
}

.footer ul {
    display: flex;
    gap: 40px;
    cursor: pointer;
}

.footer ul li:hover {
    color: #d8dbe0;
    border-bottom: none;
}

/*__________________________*/


body::selection {
    color: #00AEEF;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0A192F;
}

::-webkit-scrollbar-thumb {
    background: #8A2BE2;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #A347FF;
}


@media only screen and (max-width: 1700px) {
    .codingimg {
        width: 400px;
        right: -50px;
    }

    .mainbox {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 1100px) {
    nav {
        display: none;
    }

    .course {
        display: inline;
        align-items: start;
    }
}